<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= stylesheet_link_tag "application" %>
</head>
<body>
	<div class='container'>
		<h1>All Secrets</h1>
		<% if @secrets %>
			<% @secrets.each do |secrets| %>
				<p><%= secrets.content %> - <%= secrets.likes.count%> likes</p>
				<% if secrets.users_liked.include?(current_user) %>
					<form id='form_unlike' action='/likes/<%= secrets.find_like_id current_user %>' method='post'>
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input type='hidden' name='_method' value='delete'>
						<input id='unlike_button' type='submit' value='Unlike'>
					</form>
				<% else %>
					<form id='form_like' action='/likes' method='post'>
						<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
						<input type='hidden' name='secret_id' value='<%=secrets.id %>'>
						<input id='like_button' type='submit' value='Like'>
					</form>
				<% end %>	
					<% if @user_id == secrets.user_id %>
						<form id='form_delete' action='/secrets/<%= secrets.id %>' method='post'>
							<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
							<input type='hidden' name='_method' value ='Delete'>
							<button class='delete_button' type='submit' name='Delete'>Delete</button>
						</form>
					<% end %>	
			<% end %>
		<% end %>
		<p><a href='/users/<%= @user_id %>'>Back</a></p>
	</div>
</body>
</html>